.div{
    /* bor der: 2px solid; */
    /* border: 2px solid red; */
    display: flex;
    flex-direction: column;
    margin-top: 20%;
    margin-left: 22vw;
    /* border: 2px solid red; */
    height: 320px;
    width: 250px;
    
}

.div *{
    padding-bottom: 10px;
}

