.mainDiv{
    /* background-color: red; */
    height: 100vh;
    width: 100vw;
    background-image: url(https://thumbs.dreamstime.com/b/vector-gym-pattern-seamless-background-illustration-113988682.jpg);
    /* background-repeat: no-repeat;   */
    background-size: auto auto;
    /* filter: blur(10px ); */
    
    
}
.intro{
    
}