
.nav {
    display: flex;
    border: 2px solid black;
    font-size: 2.5vw;
    height: 100px;
    background-color: rgb(43, 40, 40);
    justify-content: space-between;
    gap: 100px;
}

.nav *{
    text-decoration: none;
    color: red;
    margin-top: 10px;
}

.Link{
    display: flex;
    gap: 20px;
    margin-right: 10vw;
}
.button{
    grid-column: 5;
    display: none;
}
@media screen and  (max-width: 150px){
    .Link{
        font-size: 3vw;
    }
}


@media screen and  (max-width: 850px){
    .nav{
        display: flex;
        justify-content: space-between;
    }
    .mobileLink{
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 30px;
        z-index: 99;
        position: relative;
        background-color: rgb(57, 55, 53);
        gap: 20px;
        width: 80vw;
        height: 45vh;
        align-items: center;
    }
    .button{
        display: block;
        margin-right: 20vw;

    }
    .button span{
        display: flex;
        justify-content: flex-end;
    }
    .Link{
        display: none;
    }
}